@import "/resources/css/main-style.css";


html, body {
    overflow: auto;
}

#edit {
    font-size: 15px;
    display: table;
    margin:auto;
}

.ev-list-elem {
    margin: 5px 10px;
}

.favorite {
     max-width: 100%;
 }

.red {
    background: red;
}

.green {
    background: green;
}
.yellow {
    background: yellow;
}

#ev-list-elem {
    margin: 5px 10px;
}

#img-title {
    max-width: 100%;
    border: 2px;
}

#fav {
    margin: 0;
}

#img-fav-on {
    max-width: 100%;
}

#img-fav-off {
    max-width: 100%;
}

#category {
    color: grey;
    font-size: 14px;
}

#date {
    color: grey;
    font-size: 12px;
}

#owner {
    color: grey;
}