@import "/resources/css/main-style.css";


html, body {
    overflow: auto;
}

.ev-list-elem {
    margin: 5px 10px;
}

.favorite {
     max-width: 100%;
 }

.red {
    background: red;
}

.green {
    background: green;
}
.yellow {
    background: yellow;
}

#ev-list-elem {
    margin: 5px 10px;
}

#img-title {
    max-width: 100%;
    border: 2px;
}

#cat, #time {
    color: grey;
}