@import "/resources/css/main-style.css";


html, body {
    overflow: auto;
}

.ev-list-elem {
    margin: 5px 10px;
}

.ev-list-elem {
    margin: 5px 10px;
}

#ev-list-elem {
    margin: 5px 10px;
}

#img-title {
    height: 100%;
    width: 100%;
    border: 2px;
}

#cat, #time {
    color: grey;
}