@import "/resources/css/main-style.css";

html, body {
    overflow: visible;
}

h4 {
    padding: 0;
    margin: 0;
    text-align: right;
}
.block {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.block.map {
    height: 60%;
}
.block.dest {
    height: 30%;
}

.title {
    float: left;
    display: inline-block;
    width: 15%;
    margin-right: 2%;
    margin-left: 2%;
}

#map {
    display: block;
    width: 80%;
    height: 100%;
}

.col-md-3{
    display: block;
    padding-left: 0;
    max-width: 25%;
}

.form-control {
    width: 40%;
}
